# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv

# DBT
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Airflow
airflow.cfg
airflow.db
logs/

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Reports
reports/*.png
reports/*.pdf

# Database
*.db
*.sqlite